@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Riddletitle {
  font-weight: bold;
  font-size: 30px;
  color: #2d3f4d;
}

.logo {
  position: fixed;
  display: block;
  width: 20vw;
  left: 50%;
  max-width: 60px;
  transform: translate(-50%, 75px);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.pushtoright {
  width: 80%;
}

.progressbarsection {
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  display: none;
  flex-wrap: wrap;
}

.progressbardiv {
  width: 65%;
}

.riddlesection {
  width: 100vw;
  height: 60vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2d3f4d;
  color: white;
  display: none;
}

.helpicons {
  max-width: 50px;
}

.riddletextdiv {
  width: 70%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  width: 100vw;
  height: 25vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.linkdiv {
  background-color: #f58634;
  height: 35px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  color: white;
  position: relative;
}

.linkdiv img {
  position: absolute;
  top: 0;
  right: 0;
}

.linkdiv:focus {
  background-color: #f7761a;
}

.codediv {
  width: 300px;
}

input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);
}

::placeholder {
  text-align: center;
}

button {
  border: none;
  background-color: rgba(102, 51, 153, 0);
  color: white;
}

.revealbuttondiv {
  background-color: #f58634;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  color: white;
}

.revealbuttondiv:focus {
  background-color: #f7761a;
}

.storysection {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.nextriddlesection {
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.riddlegraphicsdiv {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storywrapper {
  width: 100%;
  height: 50%;
  background-color: #2d3f4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storydiv {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.nextriddlediv {
  background-color: #f58634;
  color: white;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
}

.nextriddlediv:focus {
  background-color: #f7761a;
}

/* modal css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 4px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: #2d3f4d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* The Close Button */
.close {
  color: #2d3f4d;
  font-size: 28px;
  font-weight: bold;
  left: 90%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.redirectbutton {
  background-color: #f58634;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  color: white;
}

.redirectbutton:focus {
  background-color: #f7761a;
}
